{include file="index/common/header"}
<body class="app-ui">
    <div class="app-layout-canvas">
        <div class="app-layout-container">
            <main class="app-layout-content">

                <!-- Page header -->
                <div class="page-header bg-green bg-inverse" style="padding: 0;background-color: #f6511d;">
                    <div class="container">
                        <!-- Section Content -->
                        <div class="p-y-lg text-center">
                            <h2 class="display-2">用户登陆</h2>
                            </div>
                        <!-- End Section Content -->
                    </div>
                </div>
                <!-- End Page header -->

                <!-- Page content -->
                <div class="page-content">
                    <div class="container">
                        <div class="row">
                            <!-- Login card -->
                            <div class="col-md-6 col-md-offset-3">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="alert alert-danger alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <p>手机号为注册网易云音乐的手机号.</p>
                                        </div>
                                        <form>
                                            <div class="form-group">
                                                <label class="sr-only" for="frontend_login_email">手机号</label>
                                                <input type="text" name="uin" class="form-control" placeholder="请输入登陆手机号" />
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="frontend_login_password">登陆密码</label>
                                                <input type="password" name="pwd" class="form-control" placeholder="请输入登陆密码" />
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <img id="verify_img" src="{:captcha_src()}" alt="验证码" height="24px" onclick="refreshVerify()">
                                                </span>
                                                <input class="form-control" type="text" name="captcha" placeholder="请输入四位数字验证码">
                                            </div>
                                            <br>
                                            <button type="button" onclick="login();" class="btn btn-app-red btn-block">立即登陆</button>
                                        </form>
                                    </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                            </div>
                            <!-- .col-md-6 -->
                            <!-- End login -->


                        </div>
                        <!-- .row -->
                    </div>
                    <!-- .container -->
                </div>
                <!-- End page content -->
            </main>

        </div>
        <!-- .app-layout-container -->
    </div>
    <!-- .app-layout-canvas -->

   

{include file="index/common/footer"}